<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <base href="/" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div th:fragment="header" class="container header">
        <div class="row align-items-center">
            <div class="col">
                <h1><a th:href="@{/flights}">Авиарейсы</a></h1>
            </div>
            <div class="col">
                <a th:href="@{/flights/new}" class="btn btn-primary">Добавить рейс</a>
            </div>
            <div class="col">
                <a th:href="@{/logout}" class="btn btn-dark btn-sm float-end">Выйти</a>
            </div>
        </div>
    </div>
</body>