body{
	background-color: rgb(243, 243, 243);
}

.flight-container {
	min-height: 100px;
	border: 1px solid rgb(187, 187, 187);
	border-radius: .25rem;
	margin: 10px;
}

.header{
	min-height: 65px;
}

.filter-block{
	margin-top: 5px;
}