.login_form_input{
	-webkit-box-flex: 0;
	-ms-flex: 0 1 50%;
	flex: 0 1 50%;
}


.login_form_input input{
    width: 70%;
	border: none;
	border-bottom: 1px solid #d2d2d2;
	outline: 0;
	padding-bottom: 7px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	font-size: 16px;
	font-family: 'Roboto';
    margin-top: 10px;
}

.login_form_input input:focus{
    border-bottom: 1px solid #5181b8;
}

.form_form_button{
	margin-top: 30px;
}
.form_form_button input{
	color: #fff;
	background-color: #5181b8;
	border: 1px solid #5181b8;
	padding: 10px 36px;
	outline: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.form_form_button input:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	cursor: pointer;
}

body{
	background: red;
	}