<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/logout"><h3>Выйти</h3></a>
    
    <h1>Информация о рейсе</h1>

    <div th:each="flight : ${flights}">
            <a th:text="${flight.flyNumber}" th:href="@{/flight/{id}(id=${flight.id})}">flyNumber</a>
            <a th:text="${flight.flightCancellation}" th:href="@{/flight/{id}(id=${flight.id})}">flightCancellation</a>
           <a th:text="${flight.ticketPrice}" th:href="@{/flight/{id}(id=${flight.id})}">ticketPrice</a>
            <a th:text="${flight.flightDuration}" th:href="@{/flight/{id}(id=${flight.id})}">flightDuration</a>
           <a th:text="${flight.distanceInKm}" th:href="@{/flight/{id}(id=${flight.id})}">distanceInKm</a>
            <a th:text="${flight.departureAirport}" th:href="@{/flight/{id}(id=${flight.id})}">departureAirport</a>
            <a th:text="${flight.arrivalAirport}" th:href="@{/flight/{id}(id=${flight.id})}">arrivalAirport</a>
            <a th:text="${flight.arrivalDate}" th:href="@{/flight/{id}(id=${flight.id})}">arrivalAirport</a>
            <a th:text="${flight.departureDate}" th:href="@{/flight/{id}(id=${flight.id})}">arrivalAirport</a>

            <a href="/flights"><h3>Все рейсы</h3></a>
    </div>
    
</body>
</html>



    