<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Document</title>
</head>
<body>
    <header th:insert="fragments/header.html :: header"></header>
    
    

    <div class="container" style="margin-top: 20px;">
        <div th:each="flight : ${flights}" class="container flight-container">
            <div class="row align-items-center">
                <div class="col">
                    <h3>
                        <a th:text="${flight.flyNumber}" th:href="@{/flights/{id}(id=${flight.id})}">flyNumber</a>
                        
                    </h3>
                </div>
                <div class="col-6">
                    <div class="row">
                        <p class="col text-sm-start fw-bold">Аэропорт отправления:
                        </p>
                        <span class="col fw-normal" th:text="${flight.departureAirport}"></span>
                    </div>
                    <div class="row">
                        <p class="col text-sm-start fw-bold">Аэропорт прибытия:
                        </p>
                        <span class="col fw-normal" th:text="${flight.arrivalAirport}"></span>
                    </div>
                    <div class="row">
                        <span class="col">Время: </span>
                        <span class="col" th:text="${flight.getDepartureDateStr()}"></span>
                        <span class="col">-</span>
                        <span class="col" th:text="${flight.getArrivalDateStr()}"></span>
                    </div>
                    <div class="row">
                        <span class="col">Куда: </span>
                        <span class="col" th:text="${flight.countryArrival}"></span>
                    </div>
                    <div class="row">
                        <span class="col">Откуда: </span>
                        <span class="col" th:text="${flight.countryDeparture}"></span>
                    </div>
                    <div class="row">
                        <span class="col">Cтоимость билета: </span>
                        <span class="col" th:text="${flight.ticketPrice}"></span>
                    </div>
                   
                    <div class="row">
                        <span class="col">Расстояние полета в километрах: </span>
                        <span class="col" th:text="${flight.distanceInKm}"></span>
                    </div>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </div>
</body>
</html>



    