<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <base href="/" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <header th:insert="fragments/header.html :: header"></header>

    <div class="container filter" style="background-color: white;">
        <form th:method="POST" th:action="@{/flights/filter}" th:object="${filterDto}">
            <div class="filter-block">
                <label for="from-label">Отправление</label>
                <input class="form-control" type="datetime-local" name="datetime-local" th:field="*{departureDate}" required="">
            </div>
            <div class="filter-block">
                <label for="from-label">Прибытие</label>
                <input class="form-control" type="datetime-local" name="date" th:field="*{arrivalDate}" required="">
            </div>
            <div class="filter-block">
                <label for="from-label">Отправление</label>
                <input class="form-control" type="text" title="departureAirport" placeholder="SVO"
                    th:field="*{departureAirport}"></input>
            </div>
            <div class="filter-block">
                <label for="from-label">Прибытие</label>
                <input class="form-control" type="text" title="arrivalAirport" placeholder="DME"
                    th:field="*{arrivalAirport}"></input>
            </div>
            <br>
                <button class="col btn btn-primary mb-3" style="width: 70px;">Фильтр</button>
                <a class="col btn btn-primary mb-3 btn-sm" th:href="@{/flights}" >Сброс</a>
        </form>
    </div>

    <div class="container" style="margin-top: 20px;">
        <div th:each="flight : ${flights}" class="container flight-container">
            <div class="row align-items-center">
                <div class="col">
                    <h3>
                        <a th:text="${flight.flyNumber}" th:href="@{/flights/{id}(id=${flight.id})}">Номер рейса</a>
                    </h3>
                </div>
                <div class="col-6">
                    <div class="row">
                        <p class="col text-sm-start fw-bold">Аэропорт отправления:
                        </p>
                        <span class="col fw-normal" th:text="${flight.departureAirport}"></span>
                    </div>
                    <div class="row">
                        <p class="col text-sm-start fw-bold">Аэропорт прибытия:
                        </p>
                        <span class="col fw-normal" th:text="${flight.arrivalAirport}"></span>
                    </div>
                    <div class="row">
                        <span class="col">Время: </span>
                        <span class="col" th:text="${flight.getDepartureDateStr()}"></span>
                        <span class="col">-</span>
                        <span class="col" th:text="${flight.getArrivalDateStr()}"></span>
                    </div>
                </div>
                <div class="col">
                    <form action="">
                        <button type="submit" class="btn btn-outline-danger float-end">Удалить</button>
                        <button type="submit" class="btn btn-outline-danger float-end">Купить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>