<!DOCTYPE html>
<html lang="en"
    xmlns:th="https://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <a href="/logout"><h3>Выйти</h3></a>


    <h1>Авиарейсы</h1>
    <a th:href="@{/flights/new}">Добавить рейс</a>

<!-- <form action="#" th:action="@{/}" th:object="${search}">
 <label for="search_input">Поиск подходящих авиабилетов</label> <input name="search"
                                                  id="search">
 </input>
 <div th:if="${not #lists.isEmpty(search)}">
     <h2>Результаты поиска</h2>
     
         <div th:each="search : ${flight}">
            <a th:text="${search.flyNumber}" th:href="@{/flights/{id}(id=${flight.id})}">flyNumber</a>
         
 </div> -->

    <!-- <h2 th:if="${searchCountry != null}" th:text="'Поиск по стране: ' + ${searchCountry}"></h2> -->
    <div th:each="flight : ${flights}">
            
       <form action="">
        <a th:text="${flight.flyNumber}" th:href="@{/flights/{id}(id=${flight.id})}">flyNumber</a>
           <button type="submit">delete</button>
       </div>
</form>

       
</body>
</html>
    