<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Создание нового рейса</h1>

    <form th:action="@{/flights/new}" th:object="${flightDto}" th:method="POST">
        <div class="order-form_form_input">
            <h4>Введите номер рейса</h4>
        <input type="text" title="flyNumber" placeholder="flyNumber" th:field="*{flyNumber}"></input>
    </div>
    <div class="order-form_form_input">
        <h4>Введите страну прибытия рейса</h4>
    <input type="text" title="country" placeholder="country" th:field="*{country}"></input>
</div>
    <!-- <div class="order-form_form_input">
        <h4>Введите дату прибытия в страну</h4>
        <input type="datetime-local" name="date" th:field="*{arrivalDate}" placeholder="Выберите дату" required="">
    </div>
    <div class="order-form_form_input">
        <h4>Введите дату отправления из страны</h4>
        <input type="datetime-local" name="date" th:field="*{departureDate}" placeholder="Выберите дату" required="">
    </div> --> 
    <div class="order-form_form_input">
        <h4>Введите стоимость билета</h4>
    <input type="text" title="ticketPrice" placeholder="ticketPrice" th:field="*{ticketPrice}"></input>
</div>
<div class="order-form_form_input">
    <h4>Введите время полета в минутах</h4>
<input type="text" title="flightDuration" placeholder="flightDuration" th:field="*{flightDuration}"></input>
</div>
<div class="order-form_form_input">
    <h4>Введите  расстояние полета в километрах</h4>
<input type="text" title="distanceInKm" placeholder="distanceInKm" th:field="*{distanceInKm}"></input>
</div>
<div class="order-form_form_input">
    <h4>Введите аэропорт отправления</h4>
<input type="text" title="departureAirport" placeholder="departureAirport" th:field="*{departureAirport}"></input>
</div>
<div class="order-form_form_input">
    <h4>Введите аэропорт прибытия</h4>
<input type="text" title="arrivalAirport" placeholder="arrivalAirport" th:field="*{arrivalAirport}"></input>
</div>
        
        <input type="submit">
    </form>

</body>
</html>
