<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Flight</h1>

    <form th:action="@{/flights/new}" th:object="${flightDto}" th:method="POST">
        <input type="text" title="flyNumber" placeholder="flyNumber" th:field="*{flyNumber}"></input>
        <input type="text" title="flightCancellation" placeholder="flightCancellation" th:field="*{flightCancellation}"></input>
        <input type="text" title="ticketPrice" placeholder="ticketPrice" th:field="*{ticketPrice}"></input>
        <input type="text" title="flightDuration" placeholder="flightDuration" th:field="*{flightDuration}"></input>
        <input type="text" title="distanceInKm" placeholder="distanceInKm" th:field="*{distanceInKm}"></input>
        <input type="text" title="departureAirport" placeholder="departureAirport" th:field="*{departureAirport}"></input>
        <input type="text" title="arrivalAirport" placeholder="arrivalAirport" th:field="*{arrivalAirport}"></input>

        <input type="submit">
    </form>

</body>
</html>
