<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Log in with your account</title>
</head>

<body>
<div>
  <form method="POST" action="/user/signin">
    <h2>Вход в систему</h2>
    <div>
      <input name="username" type="text" placeholder="Username"
             autofocus="true"/>
      <input name="password" type="password" placeholder="Password"/>
      <button type="submit">Войти</button>
       <h4><a href="/user/signup">Зарегистрироваться</a></h4>  
    </div>
  </form>
</div>

</body>
</html>