<!DOCTYPE html>
<html lang="en"
	  xmlns:th="https://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8">
  <title>Регистрация</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
  <div>
    <h1>Регистрация</h1>
    <form th:method="POST" class="login_form" th:action="@{/user/signup}" th:object="${userDto}">
        <div class="login_form_input">
          <input type ="text" th:field="*{name}" placeholder="Введите имя" required="" >
        </div>
        <div class="login_form_input">
          <input type ="text"  th:field="*{lastname}" placeholder="Введите фамилию" required="">
        </div>
        <div class="login_form_input">
          <input type ="text" th:field="*{username}" placeholder="Введите имя пользователя" required="" autocomplete="off">
        </div>
        <div class="login_form_input">
          <input type ="email" th:field="*{email}" placeholder="Введите E-mail" required="" >
        </div>
        <div class="login_form_input">
          <input type ="phoneNumber" th:field="*{phoneNumber}" placeholder="Введите номер телефона" required="">
        </div>
        <div class="login_form_input">
          <input type ="password" th:field="*{password}" placeholder="Введите пароль" required="" autocomplete="off">
        </div>
        <div class="form_form_button">
          <input type ="submit" value="Создать аккаунт"/>
        </div>
    </form>
  </div>
</body>

</html>